#app3{
    border:1px solid orange;
}

#app3 .box{
    width:10vw;
    height:10vw;
    border:1px solid black;
    margin-top:5vw;
    transition:transform 1s;
}
#app3 .box.active{
    transform: translateX(30vw);
}